html{
  background-color: #F9F9F9;
}

body{
margin:40px auto;
max-width:950px;
line-height:1.6;
font-size:18px;
color:#444;
padding:0 10px;
}

h1,h2,h3{
line-height:1.2;
}
#logo {
  font-size: 3em;
  text-align: center;
  margin-bottom: 50px;
}

#logo a {
  color: inherit;
}

#logo img{
  display:none;
}

.linktitle a {
  font-size:2em
}

.linkdescription {
  padding: 20px 0px;
}

.linkdescription:empty {
  padding: 0px;
}

.linkfooter .linkurl {
  display: none;
}

a {
  text-decoration: none;
  color: #4970B2;
}

.linktitle a {
  color: inherit;
}

.linktag a {
  color: inherit;
  padding:2px 4px;
  border: 1px solid grey;
  border-radius: 10px;
}

.linkcontainer {
  margin: 40px 0px
}

form.linksperpage {
  display:none;
}

#linkcount {
  margin-top: 20px;
  text-align: center;
  font-size:1.1em
}

#footer {
  margin-top: 50px;
  text-align: center;
  font-size: 0.8em;
}

#mainmenu {
  text-align: right;
}

.menuButton {
  display: inline-block;
  border: 1px solid grey;
  padding:0px 10px;
  border-radius: 10px;
}

.paging {
  text-align: center;
}

#searchform {
  margin-top: 20px;
  text-align: center;
}

#searchform form {
  display: inline-block;
}

#addlinkform {
    margin-top: 20px;
    text-align: center;
}

#addlinkform .linkurl{
  width: 80%;
}

/*HACK for awesomecompleteshit*/
#tagfilter_value {
  display:inline;
}

#searchform .awesomplete{
  width:unset;
}